.form {

    &__group {
        @include respond(phone) {
            margin-bottom: 5rem;
        }   
    }

    &__text {
        font-family: "Karla";
        width: 50%;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 0 1rem 2rem rgba($color-dark, .2);
    }

    &__text-area {
        font-family: "Karla";
        width: 50%;
        padding: 1rem;
        border-radius: .5rem;
        box-shadow: 0 1rem 2rem rgba($color-dark, .2);
        height: 10rem;
    }

    &__placeholder {

        font-family: "Karla";
        transition: all .2s ease-in;
        display: block;
        width: 50%;
        color: $color-white;
        background-color: $color-dark;
        border-radius: .5rem;
        font-size: 1.6rem;
        font-weight: 700;
        margin: 1rem auto;
        opacity: 0;
    }

    &__text-area:focus + &__placeholder {
        opacity: 1;
    }

    &__text:focus + &__placeholder {
        opacity: 1;
    }

    &__submit {
        display: block;
        width: 12%;
        height: 3.5rem;
        margin: auto;
        font-family: "Karla";
        font-weight: 700;
        background-color: $color-dark;
        color: $color-white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        transition: transform .1s;

        &:hover {
            box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: .1);
            transform: scale(1.02);
        }

        @include respond(tab-port) {
            height: 10rem;
            width: 30%;
            font-size: 3.5rem;
        }
    }



    
}