*,
*::after,
*::before {
	margin: 0px;
	padding: 0px;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; //Sets 1rem == 10 px before responsive modifiers
	
	@include respond(tab-land) {
		font-size: 56.25%;
	}

	@include respond(tab-port) {
		font-size: 40%;
	}

	@include respond(phone) {
		font-size: 37.5%;
	}

	@include respond(big-desktop) {
		font-size: 75%;
	}
}

body {
	box-sizing: border-box; // Padding will not add or subtract from overall dimensions of an element.
	p {
		font-family: 'Karla';
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2.5rem;
		color: $color-white;
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: "Josefin Sans";
		color: $color-white;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3.2rem;
	}

	h3 {
		font-size: 2.8rem;
	}
}