@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }

}

//Media Query Manager

/*

0-600px: phone
600-900px: tablet portrait
900-1200: tablet landscape
1200-1800: desktop | our normal styles apply here
1800 + : big desktop

Breakpoint choices:
-phone
-tab-port
-tab-land
-big-desktop
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) {@content}; // 37.5em == 600px
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) {@content}; // 56.25em == 900px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) {@content}; // 75em == 1200px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) {@content}; //112.5em == 1800px
    }
}