.about-display {
    width: 70%;   
    height: 100%;
    background: linear-gradient(-18deg, $color-primary, $color-primary-dark);
    border-right: 1.2rem solid $color-dark;
    display: inline-block;
    position: relative;

    @include respond(tab-port) {
        width: 100%;
        border: none;
    }

    &__header-background {
        // background-image: url("./img/seattle.jpg");
        background-image: linear-gradient(to right, rgba($color-dark, .2), rgba($color-dark, .2)), url("./img/seattle.jpg");
        background-size: cover;
        background-position-y: center;
        padding: 10rem;
        border-bottom: .6rem solid $color-dark;
        

        @include respond(tab-land) {
            background-position-y: top;
        }
    }

    &__header {
        text-align: center;
        margin-top: 5rem;

        // @include respond (tab-port) {
        //     margin-top: 15rem;
        // }
    }

    &__title {
        text-align: center;
        margin-top: 1rem;
    }

    &__info {
        padding: 0 5rem;
        @include respond(big-desktop) {
            margin-top: 10rem;
        }
    }

    &__about {
        width: 100%;
        @include respond(tab-port) {
            text-align: center;
            font-size: 10rem;
        }
    }

    &__text {
        margin-top: 2rem;
        transform: translateX(5%);
        vertical-align: top;
        @include respond(tab-port){
            font-size: 2rem;
            line-height: 4rem;
            transform: translateX(0);
        }
        
    
    }

    &__logos {
        
        text-align: center;
        vertical-align: top;
    }

    &__logo {
        display: inline-block;
        font-size: 4rem;
        color: $color-white;
        cursor: pointer;
        margin: 1rem 3rem;
    }

}